body{
    color: #ededed;
    font-weight: 800;
}

.conatiner {
    position: absolute;
}

.top{
    position: absolute;
    background-color: #ff4a01;
    width: 100vw;
    height: 20vh;
    margin-left: -0.5%;
    border-top: #f06731 2px solid;
    text-align: center;
}

.title{
    font-size: 3.5rem;
}

.tit{
    font-size: 1rem;
    margin-top: -1.5%;
}
.mid{
    color: #ededed;
    position: absolute;
    margin-top: 14%;
    width: 30vw;
    height: 15vh;
    background-color: #ff4a01;
    margin-left: 3%;
    border-radius: 20px;
}

.mi{
    margin-left: 3%;
    margin-top: 2%;
}

.midd{
    margin-top: -2%;
    margin-left: 5%;
}

.btn{
    margin-left: 60%;
    margin-top: 2%;
    width: 10vw;
    height: 3vh;
    background-color: transparent;
    border: 2px solid #161616;
    color: #161616;
    font-weight: 800;
    padding-bottom: 1%;
    border-radius: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color: #161616;
    color: white;
}

.bottom{
    position: absolute;
    margin-left: 40%;
    margin-top: 22%;
}

.trend{
    font-size: 2.5rem;
}

.con{
    display: grid;
    width: 25vw;
    height: 60vh;
    background-color: #ff4a01;
    position: absolute;
    overflow-x: hidden;
    margin-left: -190%;
    position: absolute;
    border-radius: 20px;
    padding: 0%;
}

.con2{
    display: grid;
    width: 25vw;
    height: 60vh;
    background-color: #ff4a01;
    position: absolute;
    overflow-x: hidden;
    margin-left: -12%;
    position: absolute;
    border-radius: 20px;
    padding: 0%;
}

.con3{
    display: grid;
    width: 25vw;
    height: 60vh;
    background-color: #ff4a01;
    position: absolute;
    overflow-x: hidden;
    margin-left: 165%;
    position: absolute;
    border-radius: 20px;
    padding: 0%;
}

.viewbtn{
    position: absolute;
    margin-top: 213%;
    width: 20vw;
    height: 4vh;
    background-color: transparent;
    border: 2px solid #161616;
    color: white;
    font-weight: 800;
    padding-bottom: 1%;
    cursor: pointer;
    border: 2px solid #ff4a01;
}

.viewbtn:hover{
    background-color: #ff4a01;
    color: #161616;
}

.div{
    width: 25vw;
    height: .4vh;
    background-color: #f06731;
    position: absolute;
    margin-top: 80%;
}

.img{
    width: 25vw;
    height: 39vh;
    object-fit: cover;
}

.ite{
    font-size: 1.7rem;
    margin-top: -3%;
    margin-left: 1%;
}

.desc{
    margin-top: -9%;
    padding: 1.5%;
}

.view{
    margin-top: -5%;
    width: 7vw;
    height: 3vh;
    margin-left: 65%;
    background-color: transparent;
    border: 2px solid #161616;
    color: #161616;
    font-weight: 800;
    /* padding-bottom: 1%; */
    border-radius: 20px;
}

.view:hover{
    cursor: pointer;
    background-color: #161616;
    color: white;
}