body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
    width: 100.1vw;
    height: 8vh;
    background-color: #ff4a01;
    margin-top: -1%;
    margin-left: -0.6%;
}

.text{
    color: #EDEDED;
    font-size: 160%;
    margin-left: 2%;
    position: absolute;
    margin-top: 1.5%;
    font-weight: 800;
}

.text:hover{
    color: #161616;
}


/* 
.links{
    position: absolute;
    margin-left: 70%;
} */

 .one{
    position: absolute;
    color: #EDEDED;
    font-size: 160%;
    margin-left: 80%;
    text-decoration: none;
    font-weight: 800;
 }

 .two{
    position: absolute;
    color: #EDEDED;
    font-size: 160%;
    margin-left: 88%;
    text-decoration: none;
    font-weight: 800;
 }

 .three{
    position: absolute;
    color: #EDEDED;
    font-size: 160%;
    margin-left: 92.5%;
    text-decoration: none;
    font-weight: 800;
 }

 .links :hover{
    color: #161616;
 }

 .copy {
    color: #ededed;
    font-weight: 800;
    margin-top: 46%;
    margin-left: 88%;
 }